---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: Firewall
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> This resource requires the `os-firewall` plugin to be installed. It will *not* behave correctly if it is not installed.

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}
{{- end }}