---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: Kea
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

~> **Deprecated** Use [`opnsense_kea_dhcpv4_peer`](../data-sources/kea_dhcpv4_peer) instead. This data source will be removed in a future release.

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "%s%s%s" "examples/data-sources/" .Name "/data-source.tf") }}

{{ .SchemaMarkdown | trimspace }}
