---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: OpenVPN
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "%s%s%s" "examples/ephemeral-resources/" .Name "/ephemeral-resource.tf") }}

{{ .SchemaMarkdown | trimspace }}
